body {
    background-color: #121212;
    color: #f5f5f5;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #3700b3;
}

.navbar {
    background-color: #1f1f1f;
}

.footer {
    background-color: #1f1f1f;
    color: #f5f5f5;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link.btn {
    color: #ffffff !important;
    background-color: #6200ee;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link.btn:hover {
    background-color: #3700b3;
}
